body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    text-align: left;
}

select {
    margin-bottom: 0px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: rgb(35 163 163);
    color: #032d31;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

button:hover {
    background-color: #386363;
}

#info {
    margin-top: 20px;
}

span {
    display: block;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.search{
    color: rgb(6, 49, 92);
    background-color: rgb(206, 230, 230);
    padding-bottom: 50px;
    position: relative;
    border: 2px solid rgb(29, 56, 61);
}
.ligoimage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.ligoimage img {
    max-height: 90px; 
    margin-right: 0px; 
}
