body {
    font-family: 'Montserrat', sans-serif;
    background-color: #9ff3ed;
    margin: 0;
    padding: 0;
}

select {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: #095858;
    color: #b9f3f8;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #023b3b;
}

#info {
    margin-top: 20px;
}

span {
    display: block;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.search{
    color: rgb(6, 49, 92);
    background-color: rgb(35 163 163);
}