.image-container {
    position: relative;
    display: inline-block;
    margin: 20px; 
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    filter: blur(1px); 
}

.description {
    position: absolute;
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
}

.visit-link {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7); 
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    z-index: 1; 
}
